
.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1100;
  transition: top 1s ease-in-out;
}

@media print {
  .navbar {
    display: none !important;
  }
}

.outerDiv {
  width: -webkit-fill-available;
}

.navLogo {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.optionName,
.divName,
.name {
  color: rgba(0, 0, 0, 0.75);
  width: fit-content;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
}

.optionName {
  margin-left: 5px;
  margin-top: -12px;
}

.divName {
  margin-left: 5px;
}
.divNameDefault {
  margin-top: 12px; 
}
.divNameUploaded {
  margin-top: 8px; 
}
.name {
  display: flex;
  align-items: center;
  color: black;
}


.button {
  display: inline-flex;
  width: 100px;
  height: 38px;
  padding: 9px 30px;
  justify-content: center;
  font-weight: 500;
  gap: 10px;
  border-radius: 40px;
  background: white;
  border: 1px solid #931602;
  cursor: pointer;
  color: #931602;
  line-height: 20px;
}

.sellRentButton {
  display: flex;
  width: 150px;
  padding: 4px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff;
  color: #931602;
  border: 1px solid #931602;
}
.sellRentButton:hover {
  background: #931602;
  color: white;
}


.navbarContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-top: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 95%;
  background-color: white;
}

@media (min-width: 768px) {
  .navbarContainer {
    height: 3.5rem;
    margin-top: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .navbarContainer {
    width: 93%;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .navbarContainer {
    width: 93%;
  }
}



@media (max-width: 320px) and (orientation: portrait) {
  .navbar {
    display: none;
  }
  .navLogo {
    width: 120px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}


@media (min-width: 897px) and (max-width: 991px) and (orientation: landscape) {
  .navbar {
    display: flex;
    justify-content: center;
  }
}


@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  .outerDiv {
    width: 95vw;
  }
  .navbarContainer {
    width: 93%;
  }
}


@media (min-width: 992px) {
  .navbarContainer {
    width: 93%;
  }
}
