.loginContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.heading {
  color: #000;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.logo {
  margin-left: 32px;
  margin-top: 4px;
}

.slogan {
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.leftContent {
  border-radius: 10px;
  /* margin-left: 6px; */
  width: 400px;
  /* height: 370px; */
  border: 1px solid #931602;
}

.parent {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
}

.otpSentText {
  font-size: clamp(9px, 4.5vw, 12px);
  display: flex;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin-bottom: 0px;
  z-index: 999999999;
  padding: 0px 18px;
}

.inputField {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: -15px;
}

.button {
  margin-top: 15px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rightContainer {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.notGet {
  color: #000;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 25px;
  margin-left: -70px;
}

.rightImage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footerPic {
  position: absolute;
  bottom: 0px;
  width: 42%;
}

@keyframes moveBackAndForth {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.keyImageAnimation {
  animation: moveBackAndForth 2s infinite ease-in-out;
}

@media (max-width: 767px) {
  .loginContainer {
    flex-direction: column;
    align-items: center;
  }

  .leftContent {
    justify-content: center;
    align-items: center;
    width: 350px;
  }

  .rightContainer {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  .formContainer {
    text-align: center;
    width: 100%;
  }

  .inputField {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
  }

  .button {
    margin-top: 20px;
  }

  .buttonContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 0px;
  }

  .rightImage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .notGet {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
  }

  .footerPic {
    position: absolute;
    bottom: 0px;
    width: 45%;
    object-fit: contain;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .loginContainer {
    flex-direction: column;
    align-items: center;
  }
  .leftContent {
    display: flex;
    flex-direction: row;
    min-width: 500px;
    align-items: center;
    height: 400px;    
    text-align: center;
    justify-content: space-between;
  }

  .rightContainer {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  .formContainer {
    width: 100%;
  }

  .inputField {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
  }

  .button {
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-left: 1px;
  }

  .buttonContainer {
    width: 100%;
    height: 65px;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .notGet {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
  }

  .rightImage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .footerPic {
    position: absolute;
    bottom: 0px;
    width: 35%;
    height: 24vh;
  }
}