.dropDown{
    position: relative;
    display: inline-block;
    height: 23px;

}

/* white triangle */
.whiteTriangle{
    position: absolute;
    display: none;
    bottom: -3.5vh;
    left: 5%;
    margin-top: 20px;
    z-index: 20;
    animation: dropdownFade 2s ease;
}

.dropdownMenu{
    display: none;
    position: absolute;
    left: -16vw;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 8px 8px 8px 8px;
    /* padding: 9px 5px 17px;  */
    margin-top: 19px;
    animation: dropdownFade 1s ease-in-out;
    padding: 10px 0px;

}


.dropdownMenu a{
    text-decoration: none;
    display: block;
    color: rgba(0, 0, 0, 0.46);
}

/* rotate the downside arrow */
.dropDown:hover .image{
    transform: rotate(180deg);
    transition: transform 0.4s ease-in-out;
}

/* Change color of dropdown menu items on hover */
.dropdownMenu a:hover {
    color: #931602;
}
@keyframes dropdownFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Show the dropdown menu when hovering over the dropdown button */
.dropDown2 .dropdownMenu{
    display: block; 
    max-width: fit-content;
    max-height: fit-content;
}   
.dropDown2 .whiteTriangle{
    display: block;  
}

/* ------------------------------- Listing ---------------------------------------- */

.headTag{
    height: 25px;
    flex-shrink: 0;
    color: var(--black-black-70, #283646);
    line-height: 25px; /* 426.56% */
}
.underline{
    width: 85px;
    height: 3px;
    flex-shrink: 0;
    margin-bottom: 6px;
    border-radius: 11px;
    background: #0168A2;
}

.innerDiv{
   padding: 10px 15px 10px;
   border-radius: 8px;
   margin: 0px 10px;
   
}