/* Fade Animation */
.fade {
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Slide Animation - Top */
.top {
  animation: slide-down 0.5s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* Slide Animation - Bottom */
.bottom {
  animation: slide-up 0.5s ease-out forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

/* Slide Animation - Left */
.left {
  animation: slide-right 0.5s ease-out forwards;
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide Animation - Right */
.right {
  animation: slide-left 0.5s ease-out forwards;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Zoom Animation */
.zoom {
  animation: zoom-in 0.5s ease-out forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Zoom Out Animation */
.zoom-out {
  animation: zoom-out 0.5s ease-out forwards, zoom-in-reverse 0.5s ease-out forwards 0.5s;
}

@keyframes zoom-out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

/* Zoom In Reverse Animation */
@keyframes zoom-in-reverse {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


.iconDiv {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}