@media screen and (min-width: 1024px) {
    .parent {
      width: 100%;
    }
  
    .subparent {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .parent {
      width: 100%;
    }
  
    .subparent {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 350px) and (max-width: 768px) {
    .parent {
      width: 100%;
    }
  
    .subparent {
      width: 100%;
    }
  }