.heading {
    color: #000;
    text-align: center;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
  }

  .slogan {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }
  .buttonContainer {
    width: 300px;
    display: flex;
    justify-content: center;
  }

  .Mobilefield {
    padding: 2px 10px;
    border-radius: 10px;
    display: flex;
    margin-top: 12px;
    /* width: 300px; */
    height: 44px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    margin-left: 20px
}

.leftContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:  24px 24px 0px 24px;
  background-color: #faeee0;
  position: relative;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-bottom: 0px;
  z-index: 999999999;
  margin-top: -20px;
}

.inputField {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  width: 280px;
  margin: auto;
  margin-top: -5px;
}

.inputMobileField {
  /* border: 1px solid #ccc; */
  border-radius: 7px;
  width: 280px;
  margin: auto;
  margin-top: -5px;
  
}
.button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #931602;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}
.buttonContainer {
  width: 280px;
  display: flex;
  justify-content: center;
  margin-bottom: -8px;
}


.rightContainer {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.rightImage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mobileContainer{
  height: 70px;
  margin-top: 45px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: 0.5px solid #ccc;
  
  }
@media (max-width: 767px) {

  .slogan {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
  }
  .leftContent {
    position: relative;
    width: 100%;
    align-items: center;
    padding: 16px 16px 0px 16px;
    text-align: center;
    justify-content: space-between;
  }

  .rightContainer {
    width: 100%;
    margin-top: 20px;
  }

  .formContainer {
    text-align: center;
    padding: 25px;
    width: 100%;
    margin-top: 60px;
  }

  .inputField {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 296px;
    margin: auto;
  }
  .button {
    margin-top: 20px;
  }

  .buttonContainer {
    width: 296px;
    justify-content: center;
    display: flex;
  
  }

  .rightImage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .logo {
      margin-bottom: 180px;
    }
  
    .leftContent {
      position: relative;
    width: 100%;
    align-items: center;
    padding: 16px 16px 0px 16px;
    text-align: center;
    justify-content: space-between;
    }
  
    .rightContainer {
      position: relative;
      width: 100%;
      margin-top: 20px;
    }
  
    .formContainer {
      padding: 25px;
      text-align: center;
      margin-top: 100px;
      width: 90%;
      margin: auto;
    }
  
    .inputField {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      width: 458px;
      height: 70px;
      margin: auto;
    }
  
    .button {
      /* margin-top: 10px; */
      width: 458px;
      height: 70px;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }
  
    .buttonContainer {
      width: 458px;
      height: 72px;
      text-align: center;
      justify-content: center;
      display: flex;
    }
  
    .heading {
      color: #000;
      text-align: center;
      font-size: 33px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 5px;
    }
  
    .slogan {
      color: #000;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 25px;

    }
  }
  .mobileContainer{
    height: 70px;
    /* margin-top: 65px; */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 0.5px solid #ccc;
    padding-top: 20px;
    
    }


    
