.fbButton {
  background-color: #0165e1;
  color: white;
  font-size: 14px;
  width: 295px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .fbButton {
    background-color: #0165e1;
    color: white;
    width: 296px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fbButton {
    background-color: #0165e1;
    color: white;
    width: 294px;
    border-radius: 10px;
    margin-top: 15px;
    height: 44px;
  }
}
