.customScrollbar::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

.customScrollbar::-webkit-scrollbar-track {
    background: rgba(211, 32, 32, 0.1);
}

.customScrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(8, 96, 128);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.customScrollbar {
    overflow-y: auto;
    max-height: 100vh;
}