.footer {
    background: #fff;
background-image: url('../../../assets/footer-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #1a1a1a;
    position: relative;
    border-radius: 0.75rem;
  }
  
.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 background-image: url('../../../assets/footer-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.1;
    z-index: -1;
}

@media print {
    .footer {
        display: none !important;
    }
}

.spanHeading {
    color: #F1F1F1;
    font-style: normal;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.RightSlideButton {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background: #FFF;
    margin-left: 15px;
    transform: rotate(180deg);
}

.RightSlideButton:hover {
    opacity: 0.8;
    border: 1px solid grey;
    background-color: #f0ecec;
}