.ulList{
    max-height: 200px;
    height: fit-content;
    overflow-y: scroll;
    background-color: #9316020f;
    border: 1px solid #cfd2d2;
}

.ulList li{
  border-bottom: 1px solid rgb(224, 222, 222);
  border-top: 1px solid rgb(224, 222, 222);
  font-size: 12px;
}
.ulList::-webkit-scrollbar {
    width: 5px;
    display: unset;
}
  
.ulList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #ffffff; 
    border-radius: 4px;
  }
   
.ulList::-webkit-scrollbar-thumb {
    background: #931602; 
    border-radius: 4px;
}
