.counter {
  width: 15px;
  height: 15px;
  font-size: 9px;
  background-color: #931602;
  position: absolute;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px white;
  padding: 1.5px;
  top: -22px;
  right: 0;
}

@media (max-width: 768px) {
  .counter {
    margin-right: 38px;
  }
}

.h3 {
  padding: 0px 8px;
  width: fit-content;
  margin-top: 5px;
  border-radius: 20px;
}

.noNotification {
  padding: 0px 20px;
  width: fit-content;
  margin: auto;
  height: 140px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  border-radius: 20px;
  letter-spacing: 0.5px;
}

.whiteTriangle {
  display: none;
  margin-left: 6px;
  margin-top: 5px;
}
.notifylist {
  min-width: 400px;
  margin-left: -300px;
  max-width: fit-content;
  padding: 8px;
  background-color: rgb(252, 255, 255);
  z-index: 100;
  max-height: 100vh;
  border-radius: 4px;
  margin-top: -7px;
  display: none;
  border: 1px solid rgb(232, 228, 228);
}
.viewedBackground {
  background-color: #e0e0e0;
}

.notificationBox {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.05);
}

.approved {
  color: #0168a2;
  text-transform: capitalize;
}
.rejected {
  color: maroon;
  text-transform: capitalize;
}
.revise {
  color: #c88e20;
  text-transform: capitalize;
}
.singleList {
  border-radius: 3px;
  display: flex;
  padding: 5px;
  height: 90px;
  margin: 10px 0px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0px 0px 2px 1px rgb(224, 224, 224);
}
.singleList h1 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
}
.singleList h2 {
  font-size: 10px;
  margin-left: 4px;
  color: rgb(155, 153, 153);
  text-decoration: underline;
}

.singleList h5 {
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
}

.singleList p {
  color: #8e9091;
  font-weight: bold;
  margin: 5px 1px;
  font-size: 10px;
}
.wrapperDiv {
  margin-top: 10px;
  width: fit-content;
  overflow-y: scroll;
  max-height: 50vh;
  padding-right: 4px;
}
.wrapperDiv::-webkit-scrollbar {
  width: 6px;
}

.wrapperDiv::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 4px;
}

.singleList h2 {
  font-size: 10px;
  margin-left: 10px;
}

.outerDiv {
  margin-top: 22px;
}

@media (max-width: 768px) {
  .outerDiv {
    margin-top: 4px;
  }
}
