.propertiesContainer::-webkit-scrollbar{
    width:5px;
    display: unset;
  }
  .propertiesContainer::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px #ffffff;
      border-radius: 4px;
    }
   
  .propertiesContainer::-webkit-scrollbar-thumb {
      background: #931602;
      border-radius: 4px;
  }
  .tabWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  /* overflow-x: auto; */
  position: relative;
}

.tabList {
  flex-shrink: 0;
  display: flex;
  min-width: max-content;
  margin-left: 0.5rem; 
  overflow-x: hidden;
}

.tabItem {
  text-transform: capitalize !important;
  padding: 0 !important;
  margin-left: 0.25rem; 
  font-size: 0.875rem !important;
  color: inherit;
}

.tabItem:nth-child(2) {
  margin-left: 10px; 
}

.activeTab {
  color: #931602 !important;
}

.filtersWrapper {
  display: flex;
  flex-shrink: 0;
  gap: 0.5rem;
  min-width: max-content;
  margin-left: 1rem;
  position: relative;
  z-index: 50;
}
