.Viwers {
    width: 194px;
    height: 69px;
    flex-shrink: 0;
}

.cityTag{
    position: absolute;
    bottom: 8%;
    left: 10%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}
.cityUnderline{
    width: 70px;
    height: 2px;
    flex-shrink: 0;
    background: #A37F4F;
}

.tabview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}

.review{
    overflow-y: scroll;
    height: 120px;
}

.review::-webkit-scrollbar{
    display: none;
}

.review:hover::-webkit-scrollbar{
    display: unset;
    width: 2px;
}

.review::-webkit-scrollbar-track{
    box-shadow: inset 0 0 4px rgb(219, 218, 218); 
    border-radius: 1px;
}

.review::-webkit-scrollbar-thumb{
  border-radius: 1px;
  background-color: rgb(129, 126, 126);
}
.review:hover{
    display: inherit;
}
