.para{
    font-size: 12px;
    color: rgb(11, 11, 11);
    padding-bottom: 30px;
}
.jobheading{
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.jobButton{
    background-color: #f5841b;
    margin-top: 40px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.5px;
    padding: 8px 25px;
    border-radius: 4px;
}

.jobParagraph{
    font-size: 14px;
    color: #4c4e4e;
    margin-top: 10px;
    font-weight:500 ;
    margin-bottom: 20px;
    padding-bottom: 6px;
}

/* requirements */
.requirementPoint{
    width: fit-content;
    /* background-color: #ffee98; */
    background-color: #f7f7f7;
    color: #931602;
    margin: 10px 10px;
    padding: 10px 19px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid #931602;
    cursor: default;
}


/* form  css */
.container{
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #f3f3f3;
    border-radius: 10px 10px 0px 0px;
}
.containerHeading{
    font-size: 40px;
    letter-spacing: 1px;
    color: #f5841b;
    padding: 20px 0px;
    text-align: center;
}
.containerInput{
    width: 300px;
    padding: 8px 10px;
    font-size: 14px;
    margin: 10px 0px;
    background-color: #ffffff;
    border: 1.5px solid #931602;
    color: #931602;
    border-radius: 6px;
}
.containerInput:focus{
    outline: none;
}
.formButton{
    background-color: #aa2516;
    margin: 40px 0;
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.5px;
    padding: 8px 35px;
    border-radius: 4px;
}