.step1 {
    width: 35.3%;
    height: 60px;
    background-color: #EBEBEB;
    z-index: 10;
    position: absolute;
    clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
 
}
.Hover1 {
    width: 35.3%;
    height: 60px;
    background-color: #EBEBEB;
    left:0;
    z-index: 20;
    position: absolute;
    clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
 
}
 
 
.step1Completed {
    width: 35.3%;
    height: 60px;
    background-color: #CFE6EA;
    z-index: 10;
    position: absolute;
    clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
 
}
 
.step2 {
    width: 35.3%;
    height: 60px;
    background-color: #EBEBEB;
    left: 32.8%;
    position: absolute;
    z-index: 5;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}
.Hover2 {
    width: 35.3%;
    height: 60px;
    background-color: #EBEBEB;
    left: 32.8%;
    position: absolute;
    z-index: 50;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}
 
.step2Completed {
    position: absolute;
    width: 35.3%;
    height: 60px;
    background-color: #CFE6EA;
    left: 32.8%;
    z-index: 5;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}
 
.step3 {
    width: 27.5%;
    height: 60px;
    left: 50%;
    z-index: 3;
    background: #EBEBEB;
    position: absolute;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}
.Hover3 {
    width: 27.5%;
    height: 60px;
    left: 50%;
    z-index: 3;
    background: #EBEBEB;
    position: absolute;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}
 
.step3Completed {
    width: 27.5%;
    height: 60px;
    left: 50%;
    z-index: 3;
    background: #CFE6EA;
    position: absolute;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}
 
.step4 {
    width: 37.3%;
    height: 60px;
    left: 65.6%;
    z-index: 2;
    background: #EBEBEB;
    position: absolute;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, calc(100% - 20px) 100%, 0% 100%);
}
 
.Hover4 {
    width: 37.3%;
    height: 60px;
    left: 65.6%;
    z-index: 4;
    background: #EBEBEB;
    position: absolute;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, calc(100% - 20px) 100%, 0% 100%);
}
 
.step4Completed {
    width: 37.3%;
    height: 60px;
    left: 65.6%;
    z-index: 2;
    background: #CFE6EA;
    position: absolute;
    clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, calc(100% - 20px) 100%, 0% 100%);
}
 
.child {
    position: absolute;
    transform: translate(55%, 50%);
}
 
.child1 {
    position: absolute;
    transform: translate(48%, 27%);
}
 
.child2 {
    position: absolute;
    transform: translate(82%, 25%);
}
 
.child3 {
    position: absolute;
    transform: translate(8%, 8%);
    right: 55px;
    bottom: 12px;
}
 
.child4 {
    position: absolute;
    transform: translate(49%, 15%);
    right: 100px;
}
 
@media (max-width:768px){
    .step1 {
        width: 52.3%;
        height: 60px;
        background-color: #FAFAFA;
        z-index: 10;
        position: absolute;
          clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
      }
 
      .step1Completed {
          width: 52.3%;
          height: 60px;
          background-color: #CFE6EA;
          z-index: 10;
          position: absolute;
          clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
      }
      .step2 {
          width: 52.3%;
          height: 60px;
          background-color: #F5F5F5;
          left: 47.8%;
          position: absolute;
          z-index: 5;
          clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
      }
     
      .step2Completed {
          width: 52.3%;
          height: 60px;
          background-color: #CFE6EA;
          left: 48%;
          z-index: 5;
          position: absolute;
          clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
      }
      .step4 {
          width: 100%;
          height: 60px;
          left:0;
          z-index: 2;
          position: absolute;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          border-radius: 0;
      }
     
      .step4Completed {
          width: 100%;
          height: 60px;
          left:0;
          z-index: 2;
          background-color: #931602;
          position: absolute;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          border-radius: 0;
      }
      .child4 {
          position: absolute;
          transform: translate(-15%, 15%);
          right: 100px;
      }
      .child2 {
          position: absolute;
          transform: translate(65%, 25%);
      }
 
      .child1 {
          position: absolute;
          transform: translate(30%, 25%);
      }
     
  }
@media (max-width:580px){
    .step1 {
        width: 52.3%;
        height: 60px;
        background-color: #FAFAFA;
        z-index: 10;
        position: absolute;
          clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
      }
 
      .step1Completed {
          width: 52.3%;
          height: 60px;
          background-color: #CFE6EA;
          z-index: 10;
          position: absolute;
          clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
      }
      .step2 {
          width: 52.3%;
          height: 60px;
          background-color: #F5F5F5;
          left: 47.8%;
          position: absolute;
          z-index: 5;
          clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
      }
     
      .step2Completed {
          width: 52.3%;
          height: 60px;
          background-color: #CFE6EA;
          left: 48%;
          z-index: 5;
          position: absolute;
          clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
      }
      .step4 {
          width: 100%;
          height: 60px;
          left:0;
          z-index: 2;
          position: absolute;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          border-radius: 0;
      }
     
      .step4Completed {
          width: 100%;
          height: 60px;
          left:0;
          z-index: 2;
          background-color: #931602;
          position: absolute;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          border-radius: 0;
      }
      .child4 {
          position: absolute;
          transform: translate(10%, 15%);
          right: 100px;
      }
      .child2 {
          position: absolute;
          transform: translate(65%, 25%);
      }
 
      .child1 {
          position: absolute;
          transform: translate(30%, 25%);
      }
     
  }