.errorcontainer {
    margin-top:5%;
    display: flex;
    border:2px #931602 solid;
    border-radius:15px;
    background-color:white;
    padding-left:5%;
    padding-right:5%;
  }
  .text {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .btn {
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .wrapper{
  
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4); 
    padding: 10%;
    padding-top:1%;
  }