.servicesComponent{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 40px;
    margin-right: 0px;
}

.heading{
    color: #283646;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 160% */
    /* margin-left: 25.5%; */
}

.underline {
    width: 95%;
    height: 5px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #C88E20;
    /* margin-left: 25.5%; */
  }

.shortPara{
    color: rgba(0, 0, 0, 0.46);
    font-size: 14px;
    font-style: normal;
    line-height: 162%; /* 32.4px */
}
.scrolleffect {
    display: flex;
    width: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    gap: 1%;
    padding: 20px 20px;
    margin-top: 50px;
    margin-left: -3%;
}

.scrolleffect::-webkit-scrollbar{
    display: none;
}

.exploreAll{
    display: flex;
    width: 150px;
    height: 42px;
    padding: 17px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #89A190;
    color: #F9FAFC;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
    margin: auto;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .servicesComponent{
        margin-top: 40px;
    }
    .exploreAll{       
        width: 150px;
        height: 50px;
        padding: 8px 12px;
        border-radius: 11px;
        margin-top: 20px;
    }
    .wrapper{
        margin-top: 10px;
        padding-left: 6%;
    }
    .heading{
        font-size: 28px;
    }
}
  