.customScroll::-webkit-scrollbar {
    display: unset;  
    width: 5px;
  }
  
  .customScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #ffffff;
    border-radius: 4px;
    margin: 10px; 
    margin-top: 10px;
    background: none;
  }
  
  .customScroll::-webkit-scrollbar-thumb {
    background: #0168A2;
    border-radius: 50px;
  }
  