.parentDiv {
  height: 26rem;
  position: relative;
}
.imageBlog {
  height: 22rem;
  border-radius: 10px;
}
.childDiv {
  width: 92%;
  height: 52%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  bottom: 0px;
  left: 4%;
  border-radius: 10px;
}
.title {
  width: 85%;
  height: 27%;
  max-height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 14px;
  font-weight: 600;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.storyContainer {
  height: 30%;
  max-height: 30%;
}
.story {
  width: 100%;
  height: 90px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #605f5f;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 5px;
  cursor: pointer;
  overflow: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.story::-webkit-scrollbar {
  display: none;
}
.story:hover::-webkit-scrollbar {
  width: 2px;
  display: unset;
}
.story::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(239, 238, 238);
  border-radius: 1px;
}
.story::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 1px;
}
.story:hover {
  display: inherit;
}
.button {
  display: inline-flex;
  padding: 2% 6%;
  align-items: flex-start;
  border-radius: 7px;
  background: #931602;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  position: absolute;

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .parentDiv {
    width: 300px;
    margin-right: 20px;
  }
  .imageDiv {
    width: 90%;
    height: 26rem;
  }
  .title {
    font-size: 14px;
  }
  .childDiv {
    width: 80%;
    height: 52%;
    background-color: white;
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    left: 4%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 14px;
    max-height: fit-content;
  }
  .parentDiv {
    width: 350px;
    height: 24rem;
    margin-right: -70px;
    margin-left: 3%;
  }
  .storyContainer {
    margin-bottom: 5px;
  }
  .imageDiv {
    width: 73%;
    height: 70%;
  }
  .button {
    display: inline-flex;
    padding: 2% 7%;
    align-items: flex-start;
    border-radius: 7px;
    background: #931602;
    color: #fff;
    font-size: 12px;
    line-height: 32px;
    position: absolute;
    left: 6%;
    bottom: 1.5%;
  }
  .childDiv {
    width: 65%;
  }
}
@media screen and (min-width: 551px) and (max-width: 768px) {
  .parentDiv {
    width: 450px;
    margin-right: -90px;
    height: 24rem;

    margin-left: 9%;
  }
  .imageDiv {
    width: 80%;
  }
  .childDiv {
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .parentDiv {
    width: 450px;
    height: 24rem;
    margin-right: -70px;
  }
  .imageDiv {
    width: 300px;
  }
  .childDiv {
    width: 65%;
  }
}
