
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}



.bannerWrapper{
  width: 100%;
}
.banner {
  position: relative;
  width: 100%;
  height: 280px;
  background-image: url("https://images.pexels.com/photos/1642125/pexels-photo-1642125.jpeg?auto=compress&cs=tinysrgb&w=1600&h=750&dpr=2");
  background-size: cover;
  background-position: center;
}

.bannerOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}


.contentWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 93%;
}


.contentBox {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  line-height: 1.7;
  font-size: 1rem;
  color: #444;
  animation: fadeIn 0.6s ease-in-out;
}
.contentBox h1{
  color:#a52a2a
}
.contentBox h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #a52a2a;

  padding-bottom: 6px;
  margin-top: 28px;
  margin-bottom: 18px;
}


.contentBox p {
  margin-bottom: 18px;
  font-size: 1rem;
  color: #444;
}

.contentBox b {
  color: #222;
}


.highlight {
  color: #a52a2a;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}


.footerText {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-top: 35px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}


@media (max-width: 1024px) {
  .contentBox {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 220px;
  }

  .contentBox {
    padding: 20px;
    font-size: 0.95rem;
  }

  .contentBox h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 180px;
  }

  .contentWrapper {
    padding: 20px 0px;
  }

  .contentBox {
    padding: 15px;
  }

  .contentBox h3 {
    font-size: 1.1rem;
  }

  .contentBox p {
    font-size: 0.9rem;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
