.parentDiv {
  width: 330px;
  height: 26rem;
  position: relative;
  margin: 0px 30px;
}
.imageDiv {
  width: 330px;
  height: 12rem;
}

.imageBlog {
  width: 100%;
  height: 12rem;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid rgb(186, 184, 184);
  padding: 1px;
}

.childDiv {
  width: 100%;
  height: 58%;
  background-color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 8px 8px;
}

.title {
  width: 85%;
  height: 29%;
  max-height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 16px;
  font-weight: 600;
  margin: auto;
  margin-top: 15px;
}

.storyContainer {
  height: 30%;
  margin-top: 10px;
  max-height: 30%;
}
.story {
  width: 85%;
  height: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #818181;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.story::-webkit-scrollbar {
  display: none;
}

.story:hover::-webkit-scrollbar {
  width: 2px;
  display: unset;
}

.story::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(239, 238, 238);
  border-radius: 1px;
}

.story::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 1px;
}

.story:hover {
  display: inherit;
}

.button {
  display: inline-flex;
  padding: 2% 6%;
  align-items: flex-start;
  border-radius: 7px;
  background: #931602;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  position: absolute;
  left: 6%;
  bottom: 8%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .parentDiv {
    width: 300px;
    margin-right: 20px;
  }
  .imageDiv {
    width: 300px;
    height: 26rem;
  }
  .title {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .title {
    font-size: 14px;
    max-height: fit-content;
  }
  .parentDiv {
    width: 350px;
    height: 24rem;
    margin: 0 25px;
    margin-left: 9%;
  }
  .storyContainer {
    margin-bottom: 5px;
  }
  .imageDiv {
    width: 280px;
    height: 20vh;
  }
  .button {
    display: inline-flex;
    padding: 2% 7%;
    align-items: flex-start;
    border-radius: 7px;
    background: #931602;
    color: #fff;
    font-size: 12px;
    line-height: 32px;
    position: absolute;
    left: 6%;
    bottom: 8%;
  }
}
@media screen and (min-width: 551px) and (max-width: 768px) {
  .title {
    font-size: 15px;
    max-height: fit-content;
  }
  .parentDiv {
    width: 400px;
    height: 24rem;
    margin: 0 25px;
    margin-left: 9%;
  }
  .storyContainer {
    margin-top: -15px;
    margin-bottom: 10px;
  }
  .imageDiv {
    width: 300px;
    height: 20vh;
  }
}
