.logo {
  margin-left: 32px;
  margin-top: 4px;
}

.datePicker {
  width: 100%;
  background-color: white;
}

.datePickerfocus {
  outline: none;
  border: 1px solid #931602;
}
.formWrapper {
  border: 2px solid #931602; 
  border-radius: 16px;       
  padding: 2rem;            
  background-color: #fff;    
}

.datePicker div input {
  font-size: 14px;
  padding-left: 8px;
}

.requires:after {
  content: ' *';
  color: red;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mobileNumberField {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 8px;
  margin: 5px;
}

.inputField {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 5px;
}

.nameInputField {
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 5px;
}

.cityInputField {
  background-color: transparent;
  margin: 5px;
}

.inputField:focus .nameInputField:focus {
  outline: none;

}

.button {
  padding: 10px 20px;
  background-color: #931602;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
}

.buttonContainer {
  width: 300px;
  display: flex;
  justify-content: center;
}

.rightContainer {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.rightImage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
  }

  .formContainer {
    width: 100%;
  }

  .inputField {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 5px;
  }

  .googleInput div {
    width: 296px;
    margin-left: 2px;
  }

  .googleInput div input {
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .button {
    margin-top: 20px;
    width: 90%;
  }

  .buttonContainer {
    width: 290px;
    justify-content: center;
    display: flex;
  }

  .labels h1 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {


  .formContainer {
    width: 100%;
    height: 100%;
  }

  .inputField {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 5px;
  }

  .googleInput div {
    width: 300px;
    margin-left: 2px;
  }

  .googleInput div input {
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .button {
    margin-top: 20px;
    width: 90%;
  }

  .buttonContainer {
    width: 300px;
    height: 60px;
  }
}