.serviceButton{
    display: flex;
    width: 30%;
    padding: 5px 5px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-variant-numeric: lining-nums proportional-nums;
    font-style: normal;
    /* line-height: 24px;  */
    margin: 5% 8%;
    margin-top: 3rem;
}
.serviceButton:hover{
    color: white;
    background-color: var(--secondary-color);
}
.serviceButton button{
    letter-spacing: 0.5px;
}

@media screen and (min-width: 568px) and (max-width: 767px) {
    .serviceButton{
        width: 25%;
    }
}
