.image{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.name{
    background-color: rgba(67, 78, 88, 0.73);
    z-index: 9;
    color: rgb(255, 255, 255);
    padding: 2px 30px;
    letter-spacing: 1px;
    width: fit-content;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .image{
        height: 20vh;
    }
    .name{
        padding: 4px 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 500px) {
    .image{
        height: 15vh;
    }
    .name{
        padding: 2px 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media only screen and (min-width: 501px) and (max-width: 768px) {
    .image{
        height: 15vh;
    }
    .name{
        padding: 2px 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}