.searchCard div{
    border: 2px;
    background-color: black;

}
.modalScroll::-webkit-scrollbar{
    height:5px;
    display: unset;
  }
  .modalScroll::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px #ffffff; 
      border-radius: 4px;
    }
  
  .modalScroll::-webkit-scrollbar-thumb {
      background: #931602; 
      border-radius: 4px;
  }