.modalContainer{
     position: fixed;
     z-index:999999;
     left:0;
     top: 0;
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgba(0,0,0,0.8);
    }

.modal{
        border-radius: 5px;
        padding:2rem;
        background-color: white;
        width:30em
    }
.modal .btn{
    display:block;
    margin:auto;
    border:none;
    margin-top: 1rem;
    background-color: #931602;
    color:#fff;
    padding:0.5rem 1rem;
    border-radius:10px;
    cursor:pointer;
    box-shadow:0px 5px 5px #ccc;
}
.formGroup{
    display:flex;
    flex-direction: column;
    margin-bottom:1rem;
}
.formGroup input{
    border:1px solid;
    border-radius: 0.3rem;
    padding:0.3rem;
    font-size:1rem
}
.formGroup label {
    margin-bottom: 0.2rem;
}