.customSelect{
    position: relative;
    width: 400px;
    max-width: 100%;
    font-size: 1.15rem;
    color: #000;
}
.selectButton {
    width: 100%;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
.selectedValue {
    text-align: left;
  }
 
.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
  }
 
.selectDropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
  }
 
.selectDropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
  }
 
.selectDropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
 
.selectDropdown li label {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
   
  }
 
.selectDropdown::-webkit-scrollbar {
    width: 7px;
  }
.selectDropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
 
.selectDropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
 
.selectDropdown li:hover,
.selectDropdown input:checked ~ label {
    background-color: #f2f2f2;
}
 
.selectDropdown input:focus ~ label {
    background-color: #dfdfdf;
}
 
.selectDropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
  }
 
.customSelect.active .arrow {
    transform: rotate(180deg);
  }
.customSelect.active .imageDiv {
    transform: rotate(180deg);
  }
 
.customSelect.active .selectDropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
.imageDiv {
  position: relative;
  width: 30px;
  height: 30px;
}