.wrapper {
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #931602;
  padding: 3% 5%;
  min-height: 100vh;
}

.errorcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px #931602 solid;
  border-radius: 0.75rem;
  background-color: white;
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  gap: 3rem;
  margin: 0 auto;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  line-height: 1.2;
}

.divider {
  background-color: black;
  height: 3px;
  width: 90%;
  margin: 1rem 0;
}

.text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.25rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  max-height: 42px;
}

.primary {
  background-color: #931602;
  color: #fff;
}

.primary:hover {
  background-color: #7d1201;
}

.secondary {
  background-color: white;
  color: black;
  border: 1.5px solid black;
}

.secondary:hover {
  background-color: #f3f3f3;
}

@media (max-width: 900px) {
  .errorcontainer {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 0.95rem;
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .text {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .btn {
    font-size: 0.75rem;
    padding: 8px 16px;
  }

  .title {
    font-size: 1.25rem;
  }
}
