.ulList{
  margin-top: 14px;
  max-height: 180px;
  height: fit-content;
  overflow-y: scroll;
}
.suggestionBox {
  background: #fff;
  border: 1px solid #b91c1c;
  border-radius: 0 0 14px 14px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}


.ulList li{
border-bottom: 1px solid rgb(224, 222, 222);
border-top: 1px solid rgb(224, 222, 222);
}
.ulList::-webkit-scrollbar {
  width: 5px;
  display: unset;
}

/* Track */
.ulList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #ffffff;
  border-radius: 4px;
}
 
/* Handle */
.ulList::-webkit-scrollbar-thumb {
  background: #931602;
  border-radius: 4px;
}

.suggestionCount{
color: #931602;
background-color: #9316020f;
width: 120px;
text-align: center;
padding: 8px 2px;
border-radius: 4px;
text-align: center;
height: fit-content;
}
.suggestionCountProjects{
color: #931602;
background-color: #ffdbd3;
width: 120px;
text-align: center;
padding: 8px 2px;
border-radius: 4px;
text-align: center;
height: fit-content;
}

@media (max-width: 767px) {
.suggestionCount {
  width: 120px;
  padding: 4px 2px;
  border-radius: 4px;
}
.suggestionCountProjects {
  width: 120px;
  padding: 4px 2px;
  border-radius: 4px;
}
}