.button{
    display: inline-flex;
    width: 100px;
    height: 38px;
    padding: 9px 30px;
    justify-content: center;
    font-weight: 500;
    gap: 10px;
    border-radius: 40px;
    background: white;
    border: 1px solid #931602;
    cursor: pointer;
    color: #931602;
    line-height: 20px; /* 125% */
}




.drawerDiv::-webkit-scrollbar{
    display: none;
}

.counter{
    width: 15px;
    height: 15px;
    font-size: 9px;
    background-color: #931602;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    padding-top: 1px;
    box-shadow: 0px 0px 1px 1px white;
}

.icons{
   fill: #931602;
}

@media print {
    .mobileNavbar{
      display: none !important;
    }
}
