.counter{
    width: 15px;
    height: 15px;
    font-size: 9px;
    background-color: #931602;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    padding-top: 1.5px;
    box-shadow: 0px 0px 1px 1px white;
    top: -27px;
    right: -7px;
    margin-top: 2px;
    margin-right: -8px;
}

.h3{
    padding: 0px 8px;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    border-radius: 20px;
    letter-spacing: 0.5px;
}

.whiteTriangle{
    display: none;
    margin-left: 6px;
    margin-top: 5px;
}
.notifylist{
    min-width: 400px;
    margin-left: -300px;
    max-width: fit-content;
    padding: 8px;
    background-color: rgb(252, 255, 255);
    z-index: 100;
    border-radius: 4px;
    margin-top: -13px;
    display: none;
    border: 1px solid rgb(232, 228, 228);
}
.viewedBackground {
    background-color: #E0E0E0; 
  }

.notificationBox {
    box-shadow: inset 0px -4px 4px -2px rgba(0, 0, 0, 0.2);
}
.approved {
    color: #018191;
    text-transform: capitalize;
}
.rejected {
    color: maroon;
    text-transform: capitalize;
}
.revise {
    color: #c88e20;
    text-transform: capitalize;
}
.singleList{
    border-radius: 3px;
    display: flex;
    padding: 5px;
    height: 90px;
    margin: 10px 0px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 0px 2px 1px rgb(224, 224, 224);
}
.singleList h1{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
}
.singleList h2{
    font-size: 10px;
    margin-left: 4px;
    color: rgb(155, 153, 153);
    text-decoration: underline;
}

.singleList h5{
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
}

.singleList p{
    color: #8e9091;
    font-weight: bold;
    margin: 5px 1px;
    font-size: 10px; 
}
.wrapperDiv{
    margin-top: 10px;
    width: fit-content;
    overflow-y: scroll;
    max-height: 50vh;
    padding: 0px 8px;
}
.wrapperDiv::-webkit-scrollbar {
    width: 6px;
  }
  
  .wrapperDiv::-webkit-scrollbar-thumb {
    background-color: #d6d6d6; 
    border-radius: 4px; 
  }
  
.singleList h2{
    font-size: 10px;
    margin-left: 10px;
}