.dropDown {
  position: relative;
  display: inline-block;
  height: 30px;
}
.dropdownMenu {
  display: none;
  background-color: black;
  z-index: 10;
  border-radius: 8px 8px 8px 8px;
  padding: 9px 5px 5px;
  max-width: 0;
  max-height: 0;
  margin: 2px 0 10px;
  animation: dropdownFade 1s ease-in-out;
}
.dropdownMenu a {
  padding: 6px 0px;
  text-decoration: none;
  display: block;
  color: rgba(0, 0, 0, 0.46);
}
.dropdownMenu a:hover {
  color: #0168A2;
  font-weight: 600;
}
@keyframes dropdownFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropDown:hover .dropdownMenu {
  display: block;
  max-width: fit-content;
  max-height: fit-content;
}
.dropDown:hover .whiteTriangle {
  display: block;
}
.headTag {
  height: 30px;
  flex-shrink: 0;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  width: 200px;
  margin-left: 18px;
}

.menuTitle {
  height: 40px;
  flex-shrink: 0;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-left: 18px;
}
.innerDiv {
  min-width: 240px;
  padding: 10px 15px 10px;
  border-radius: 8px;
  margin: 0px 10px;
  margin-bottom: 10px;
}
.image {
  position: absolute;
  right: 0;
  margin-left: -20px;
}
.rotated {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}
.newOption {
  color: #0168A2;
  margin-left: 16px;
}
