.dropDown {
    position: relative;
    display: inline-block;
    height: 30px;
}

.whiteTriangle {
    position: absolute;
    width: 60px;
    height: 15px;
    display: none;
    bottom: -3.5vh;
    top: 28px;
    left: 2%;
    margin-top: 10px;
    animation: dropdownFade 2s ease;
}

.dropdownMenu {
    display: none;
    position: absolute;
    left: -6vw;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 8px 8px 8px 8px;
    padding: 9px 5px 17px;
    max-width: 0;
    max-height: 0;
    margin-top: 2px;
    animation: dropdownFade 1s ease-in-out;
}


.dropdownMenu a {
    padding: 6px 0px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    color: #343434;
}

.dropDown:hover .image {
    transform: rotate(180deg);
    transition: transform 0.4s ease-in-out;
}

.dropdownMenu a:hover {
    color: #931602;
    font-weight: 600;
}

@keyframes dropdownFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropDown:hover .dropdownMenu {
    display: block;
    max-width: fit-content;
    max-height: fit-content;
}

.dropDown:hover .whiteTriangle {
    display: block;
}

.headTag {
    height: 30px;
    flex-shrink: 0;
    color: #343434;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.underline {
    width: 85px;
    height: 3px;
    flex-shrink: 0;
    margin-bottom: 10px;
    border-radius: 11px;
    background: #931602;
}

.innerDiv {
    min-width: 230px;
    padding: 10px 15px 10px;
    border-radius: 8px;
    margin: 0px 10px;
}
.innerDivSmall {
    min-width: 160px;
    padding: 10px 15px 10px;
    border-radius: 8px;
    margin: 0px 10px;
}