.menu {
    width: 250px;
    height: 100%;
    background-color: white;
    position: relative;
    box-shadow: 0px 0px 8px 1px rgb(210, 209, 209);
}

.menu div {
    height: 100%;
    top: 0;
}

.menu div li {
    font-weight: 300;
    color: grey;
    margin-bottom: 10px;
}

.menu div li:hover {
    background-color: white;
    color: rgb(9, 9, 87);
}

.logo {
    margin-bottom: 20px;
    margin-left: 20px;
}

.menu div {
    box-shadow: none;
}

