@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --primary-bg: #FDFDFD;
  --footer-bg: #a37f4f;
  --secondary-color: #931602;
  --secondary-text: #df2624;
  --secondary-bg: #e9d0cc;
  --font-weight-bold: 800;
  --font-weight-semibold:600;
  --font-weight-medium:500;
  --font-weight-normal: 400;
  --font-size-title: 2rem;
  --font-size-h1: 3rem;
  --font-size-h2: 1.5rem;
  --font-size-h3:1.125rem;
  --font-size-h4:1rem;
  --heading-color:#343434;
  --subheading-color:#383838;
  --font-size-paragraph: 0.9rem;
}
 
.MuiPickersLayout-root {
  background-color: #9316020f;
  height: 390px;
  overflow-y: scroll;
}
 
.css-1q04gal-MuiDateCalendar-root{
  height: 260px;
}
 
.css-mvmxd9-MuiTypography-root-MuiPickersToolbarText-root{
  font-size: 1rem;
}
 
.css-1e4tpwf-MuiTypography-root-MuiPickersToolbarText-root-MuiDateTimePickerToolbar-separator{
  margin-top: 2px;
  font-size: 1.3rem;
}
.css-1b9e08i-MuiTypography-root-MuiPickersToolbarText-root{
  font-size: 0.9rem;
}
 
.css-ollblj-MuiDateTimePickerToolbar-amPmSelection .MuiDateTimePickerToolbar-ampmLabel{
  font-size:10px;
}
 
.css-13vtpvu-MuiTypography-root-MuiPickersToolbarText-root{
  font-size:0.8rem;
}
 
.css-1q04gal-MuiDateCalendar-root{
  height: 310px;
}

.MuiPickersLayout-root{
  overflow:'scroll'
}
.primary-button{
  color: white;
  font-size: var(--font-size-paragraph);
  background-color: var(--secondary-color);
  border-radius: 6px;
  padding: 10px 30px;
}

body {
  background-color: var(--primary-bg);
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 

/* custom scrollbar */
.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #931602;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #931602;
}
/* custom scollbar ends */

h1{
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  color:  var(--heading-color);
}
 
h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
  color:  var(--heading-color);
}
h3{
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  color:  var(--heading-color);
}

h4,label{
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
  color: var(--heading-color);
}
 
p ,li{
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-normal);
  color: var(--subheading-color);
}

button,a{
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-medium); 
  
}

span{
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-medium);
}

input{
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-medium);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #931602;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #710000;
}
.custom-section {
  /* max-width: 1300px; */
  background-color: white;
  /* margin: auto; */
  border-radius: 0.75rem;
  padding: 1.25rem;
  margin: 0px auto 10px auto;
}

 
@font-face {
  font-family: 'Telegrafico';
  src: url('../utils/Fonts/FontsFree-Net-telegrafico.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* adjust the CSS to your liking */

video-player-container {
  width: 100%;
  height: 500px !important;
  display: flex !important;
  position:relative;
  background: #00000020 !important;
  border-radius: 20px;
}

video-player {
  width: 50%;
  height: 1000px;
  aspect-ratio: 16/9;
  /* position: relative !important; */
}
video-player > video {
  width: 100% !important;
  /* height: auto;
  aspect-ratio: 16/9; */
  position: absolute !important;
  right: 20px !important;
  bottom: 70px !important;
  border-radius: 20px !important;
  height: 180px !important;
  width: auto !important;
  z-index: 50 !important;
}
video-player > div {
  width: 100% !important;
  height: auto;
  position: absolute !important;
  left: 0px;
}

@media (max-width:540px) {
  video-player > video {
    height: 120px !important;
    width: auto !important;
  }
}

.chat-list::-webkit-scrollbar {
  width: 5px;
}

.chat-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #ffffff;
  border-radius: 4px;
}

.chat-list::-webkit-scrollbar-thumb {
  background: #931602;
  border-radius: 4px;
}







::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}


::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
  border: none !important;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) transparent;
}
