.section {
  padding-left: 4rem;   
  padding-right: 4rem;
  padding-bottom: 0.25rem; 
}
@media (max-width: 1024px) {
  .filterSection {
    overflow-y: auto; 
  }
}



@media (max-width: 767px) {
  .section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}



@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
 .section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


@media (min-width: 1025px) and (max-width: 1199px) {
  .section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}


@media (min-width: 1200px) and (max-width: 1366px) {
  .section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


@media (min-width: 1441px) and (max-width: 1600px) {
 .section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

