/* styles.css */

/* Background color for the phone button */
.phone-button {
    background-color: #931602;
  }
  
  /* Background color for the email button */
  .email-button {
    background-color: #931602;
  }
  